* {
    margin : 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body, #root{
    width: 100%;
    background-color: #161616;
    color: whitesmoke;


}

.button{
    outline: none;
    border: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &.button-primary{
        background-color: rgb(56, 1, 175) ;
    }

   &:active{
    transform: scale(1.1);

   }
}
 